* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background-color: #0f172a;
    color: #e5e7eb;
}

/* Navbar */
.navbar {
    background: #020617;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #38bdf8;
}

.navbar nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #e5e7eb;
    transition: color 0.3s;
}

.navbar nav a:hover {
    color: #38bdf8;
}

/* Hero */
.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #020617, #0f172a);
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    color: #9ca3af;
}

/* Game Section */
.game-container {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

/* Game Card */
.game-card {
    background: #020617;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    transition: transform 0.3s;
}

.game-card:hover {
    transform: translateY(-8px);
}

.game-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.game-card h3 {
    padding: 10px 15px 0;
}

.game-card p {
    padding: 0 15px 10px;
    color: #9ca3af;
    font-size: 0.9rem;
}

.game-card button {
    width: calc(100% - 30px);
    margin: 10px 15px 15px;
    padding: 10px;
    background: #38bdf8;
    border: none;
    border-radius: 6px;
    color: #020617;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.game-card button:hover {
    background: #088ac7;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    color: #9ca3af;
}
.search-box {
    text-align: center;
    margin: 20px 0;
}

.search-box input {
    color: white;               
    border-color: #ff9800;      
    background-color: #17213a;
    width: 300px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    outline: none;
}